article#lead
  h1
    fields.fullName
  form
    fieldset
      td: label First Name:
      td: view Ember.TextField value=fields.firstName
      br
      td: label Last Name:
      td: view Ember.TextField value=fields.lastName
      br
      td: label Email     :
      td: view Ember.TextField value=fields.email
      br
      td: label Phone     :
      td: view Ember.TextField value=fields.phone
    fieldset
      td
        input type='submit' value='Create Lead' click="createLead"