<!DOCTYPE html>
<html>
<head>
  <title>EmberCrm</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div id='ember-app'></div>
<footer></footer>
</body>
</html>
